@import '~theme/variables';

.Button {
  cursor: pointer;
  text-transform: uppercase;
  color: $white;
  background-color: $black;
  font-size: 0.75rem;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid $black;
  padding: 0.75rem 2rem;
  transition:
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    background-color: $dark-black;
    border-color: $dark-black;
  }

  &:active,
  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(26, 26, 26, 0.5);
  }

  &[disabled] {
    cursor: not-allowed;
    background-color: $light-black;
    border-color: $light-black;
  }
}
