@import '~theme/variables.scss';

.TextAreaWrapper {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.5rem;
  }

  textarea {
    display: block;
    padding: 0.75rem 2rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: $light-black;
    background-color: $bg-gray;
    border: 1px solid $light-gray;
    transition:
      border-color ease-in-out 0.15s,
      box-shadow ease-in-out 0.15s;
    overflow: auto;
    resize: vertical;

    &:active,
    &:focus {
      border-color: $light-black;
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(26, 26, 26, 0.5);
    }
  }
}
