// simple container like bootstrap's .container

.Container {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;

  &.default {
    @media (min-width: 36rem) {
      max-width: 33.75rem;
    }

    @media (min-width: 43rem) {
      max-width: 40rem;
    }

    @media (min-width: 62rem) {
      max-width: 60rem;
    }

    @media (min-width: 75rem) {
      max-width: 71.25rem;
    }
  }
}
