.DefaultLayout {
  height: 100%;
  display: flex;
  flex-direction: column;

  > header,
  > footer,
  > div,
  > section {
    flex-shrink: 0;
  }

  .mainSection {
    flex-grow: 1;
    margin: 1rem 0;
  }
}
