.icon-before-text {
  margin-right: 0.5rem;
}

.icon-after-text {
  margin-left: 0.5rem;
}

.no-margin {
  margin: 0 !important;
}

$value: 25;
$step: 25;
$maxValue: 100;

@while $value < $maxValue {
  $rem: $value / 100;

  .ml-0#{$value} {
    margin-left: #{$rem}rem !important;
  }

  .mr-0#{$value} {
    margin-right: #{$rem}rem !important;
  }

  .mt-0#{$value} {
    margin-top: #{$rem}rem !important;
  }

  .mb-0#{$value} {
    margin-bottom: #{$rem}rem !important;
  }

  .mtb-0#{$value} {
    margin-bottom: #{$rem}rem !important;
    margin-top: #{$rem}rem !important;
  }

  .mlr-0#{$value} {
    margin-left: #{$rem}rem !important;
    margin-right: #{$rem}rem !important;
  }

  .m-0#{$value} {
    margin: #{$rem}rem !important;
  }

  .pl-0#{$value} {
    padding-left: #{$rem}rem !important;
  }

  .pr-0#{$value} {
    padding-right: #{$rem}rem !important;
  }

  .pt-0#{$value} {
    padding-top: #{$rem}rem !important;
  }

  .pb-0#{$value} {
    padding-bottom: #{$rem}rem !important;
  }

  .ptb-0#{$value} {
    padding-bottom: #{$rem}rem !important;
    padding-top: #{$rem}rem !important;
  }

  .plr-0#{$value} {
    padding-left: #{$rem}rem !important;
    padding-right: #{$rem}rem !important;
  }

  .p-0#{$value} {
    padding: #{$rem}rem !important;
  }

  $value: $value + $step;
}
