// keep a-z order
$bg-gray: #f7f7f9;
$bg-light-pink: #f7dddc;
$black: #1a1a1a;
$cherry: #712b29;
$dark-black: #070707;
$default: #919aa1;
$light-black: #55595c;
$light-gray: hsla(0, 0%, 0%, 0.1);
$light-pink: #f4cfce;
$lighter-black: #343a40;
$white: #fff;
