@import '~theme/variables.scss';

.ErrorsBox {
  color: $cherry;
  background-color: $bg-light-pink;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid $light-pink;
}
