@import '~theme/variables.scss';

.header {
  padding: 1.5rem 1rem;
  border-bottom: 1px solid $light-gray;
  background: $lighter-black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: $white;
  margin: 0;
}

.logo {
  @media screen and (max-width: 25rem) {
    display: none;
  }
}
