@import '~theme/variables.scss';

.footer {
  background: $light-black;
  color: $white;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}

.textContainer {
  text-align: center;
}

@media all and (max-width: 25rem) {

  .textContainer {
    text-align: right;
  }

  .devLinksContainer {
    display: none;
  }
}
