@import '~theme/variables.scss';

$table-height: 500px;
$height-animation-duration: 0.5s;

.Table {
  overflow: hidden;
  max-height: 0;
  transition: max-height $height-animation-duration ease-in-out;
  position: relative;

  &:before,
  &:after {
    content: '';
    background: $white;
    position: absolute;
    top: -200%;
    bottom: -200%;
    z-index: 1;
    transition: transform 1s ease-in-out $height-animation-duration;
    transform: translateX(0) rotate(15deg);
  }

  &:before {
    left: -30%;
    right: 50%;
    border-right: 2px solid $default;
  }

  &:after {
    left: 50%;
    right: -30%;
    border-left: 2px solid $default;
  }

  &.show {
    max-height: $table-height;

    &:before {
      transform: translateX(-100%) rotate(15deg);
    }

    &:after {
      transform: translateX(100%) rotate(15deg);
    }
  }
}

.tableWrapper {
  max-height: inherit;
  overflow: auto;
}

.table {
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: transparent;
  border-collapse: collapse;
  display: table;
  border-spacing: 2px;
  border-color: grey;

  th,
  td {
    padding: 1.5rem 0.75rem;
    min-width: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    text-align: left;
    border-width: 1px 1px 0 0;

    &:last-child {
      border-right-width: 0;
    }

    &.sorted {
      background-color: #c6c8ca;
      color: $white;
    }
  }

  thead th {
    cursor: pointer;
    vertical-align: bottom;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    padding: 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-size: 0.75rem;
    position: relative;

    &:after {
      content: '\004f';
      display: inline-block;
      font-family: 'Glyphter', sans-serif;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }

    &.sorted {

      &.asc:after {
        content: '\0055';
      }

      &.desc:after {
        content: '\004e';
      }
    }
  }

  tbody tr {

    &:hover {
      background-color: rgba(0, 0, 0, 0.075);
    }
  }
}
